DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=siparim
DATABASE_PASSWORD=siparim123
DATABASE_NAME=siparim_db
JWT_SECRET=siparim_super_secret_key_change_this
JWT_EXPIRES_IN=7d
REDIS_HOST=localhost
REDIS_PORT=6379
IYZICO_API_KEY=your_iyzico_api_key
IYZICO_SECRET_KEY=your_iyzico_secret_key
PORT=3001
